<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CodeRumDbContext" connectionString="Data Source=SQL8010.site4now.net;Initial Catalog=db_aa866f_mrkatsu2212;User Id=db_aa866f_mrkatsu2212_admin;Password=YOUR_DB_PASSWORDData Source=SQL8010.site4now.net;Initial Catalog=db_aa866f_mrkatsu2212;User Id=db_aa866f_mrkatsu2212_admin;Password=Thangkatsu@123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />	
	</connectionStrings>
</configuration>