<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CodeRumDbContext" connectionString="data source=sql.bsite.net\MSSQL2016;persist security info=True;user id=mrkatsu_coderum;password=katsu2212;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>