/***Phân trang***/
.paginations {
    display: inline-block;
}

    .paginations a, .paginations span {
        height: 70px;
        width: 70px;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border-radius: 5px;
    }

        .paginations a.active {
            background-color: #ffcc00;
            border-radius: 5px;
        }

        .paginations a:hover:not(.active) {
            background-color: #939EA9;
            border-radius: 5px;
        }

        /* Style for the first and last buttons */
        .paginations a:first-child, .paginations a:last-child {
            background-color: #4CAF50;
            border-radius: 5px;
        }


.hidden {
    display: none;
}