@model IEnumerable<Model.Entity.UserGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Navbar {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsContent = false;
        ViewBag.IsUser = false;
        ViewBag.IsCategory = false;
    }
}

<div class="card">
    <div class="card-header">
        <h1 class="h4">Danh sách role</h1>
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("UserGroupDetail", "Credential", new {userGroupId = item.Id})">Chi tiết</a>
                    </td>
                </tr>
            }

        </table>
    </div>
  
</div>

