@{
    //ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";

    ViewBag.URL = Url.Action("Index", "Home");
    ViewBag.Description = "Blog mọi thứ, viết cho mọi người";
    ViewBag.Image = "https://raw.githubusercontent.com/Mrk4tsu/Mrk4tsu/main/assets/preview.jpg";
}

@section Nav {
    @{
        ViewBag.IsHome = true;
        ViewBag.IsBlog = false;
    }
}

@section jsFooter{
    <script src="~/Resourse/plugin/utils.js"></script>
}

<div>
    <div class="page-head-main">
        <h1 class="title">Blog mọi thứ, viết cho mọi người</h1>
        @*<img width="1408" height="276" src="/Resourse/client/img/demo/main_illustration.svg" alt="">*@
        <img width="1408" height="276" data-src="/Resourse/client/img/demo/main_illustration.svg" class="lazyload">
    </div>
</div>

<section class="container position-relative">
    <div class="row d-flex justify-content-center">

        <div class="col-sm-12 col-md-8 col-lg-8 col-12">
            @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
            {
                <div class="input-group mb-3 my-2">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control text-light input-search p-4"
                           placeholder="Nhập để tìm kiếm...">
                    <div class="input-group-append">
                        <button class="btn bg-gradient-success" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Banner Begin -->
<div class="banner mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @{ Html.RenderAction("CategoryCore", "Home"); }
            </div>
            <div class="col-lg-9">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner rounded-e-20">
                        <div class="carousel-item active lazyload" style="background-image: url(../../Resourse/client/img/demo/sktmd.png);">
                            <div class="carousel-caption">
                                <a href="#!">
                                    <h3 class="primary-btn bg-gradient-success rounded-e-10">
                                        Đọc
                                        ngay
                                    </h3>
                                </a>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                        <div class="carousel-item lazyload" style="background-image: url(../../Resourse/client/img/demo/sakamoto-days.png);">
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                        <div class="carousel-item lazyload" style="background-image: url(../../Resourse/client/img/demo/sds.jpg);">
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Danh sách Categories -->
@{ Html.RenderAction("CategorySecondary", "Home"); }
<!-- Kết thúc Categories -->
@{ Html.RenderAction("ContentNew", "Home"); }
@{ Html.RenderAction("TopContent", "Home"); }