@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";

    ViewBag.URL = Url.Action("Index", "Home");
    ViewBag.Image = "/Resourse/client/img/demo/sktmd.png";
    ViewBag.Description = "Blog mọi thứ, viết cho mọi người";
}

@section Nav {
    @{
        ViewBag.IsHome = true;
        ViewBag.IsBlog = false;
    }
}

<div>
    <div class="page-head-main">
        <h1 class="title">Blog mọi thứ, viết cho mọi người</h1>
        <img width="1408" height="276" src="/Resourse/client/img/demo/main_illustration.svg" alt="">
    </div>
</div>


<!-- Banner Begin -->
<div class="banner mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="hero__categories rounded-e-20">
                    <div class="hero__categories__all bg-gradient-success rounded-e-20">
                        <i class="fa fa-bars"></i>
                        <span>Nội dung</span>
                    </div>
                    <ul>
                        <li><a href="#">Tin tức trò chơi</a></li>
                        <li><a href="#">Đánh giá trò chơi</a></li>
                        <li><a href="#">Tin tức công nghệ</a></li>
                        <li><a href="#">Chia sẻ công nghệ</a></li>
                        <li><a href="#">Công nghệ thông tin</a></li>
                        <li><a href="#">Chia sẻ lập trình</a></li>
                        <li><a href="#">Chia sẻ lập trình</a></li>
                        <li><a href="#">Chia sẻ lập trình</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner rounded-e-20">
                        <div class="carousel-item active" style="background-image: url(../../Resourse/client/img/demo/sktmd.png);">
                            <div class="carousel-caption">
                                <a href="#!">
                                    <h3 class="primary-btn bg-gradient-success rounded-e-10">
                                        Đọc
                                        ngay
                                    </h3>
                                </a>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url(../../Resourse/client/img/demo/sakamoto-days.png);">
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url(../../Resourse/client/img/demo/sds.jpg);">
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Danh sách Categories -->
<section class="categories pt-5">
    <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center my-1">
            <div class="h5 text-light font-weight-bold">
                <i class="fa fa-comment bg-gradient-violet p-2 rounded-circle"></i> Bình luận
            </div>

        </div>
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item__body shadow-light">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-1.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-2.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-3.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-4.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-5.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kết thúc Categories -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center my-1">
            <div class="h5 text-light font-weight-bold">
                <i class="fa fa-comment bg-gradient-primary p-2 rounded-circle"></i> Bài viết mới
            </div>
            <div>
                <a class="text-light shadow-light bg-gradient-success p-2 rounded-e-20"> Xem tất cả</a>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Resourse/client/img/demo/sekiro-4.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Resourse/client/img/demo/sekiro-5.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Resourse/client/img/demo/sekiro-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center my-1">
            <div class="h5 text-light font-weight-bold">
                <i class="fa fa-comment bg-gradient-warning p-2 rounded-circle"></i> Bài viết tiêu biểu
            </div>
            <div>
                <a class="text-light shadow-light bg-gradient-success p-2 rounded-e-20"> Xem tất cả</a>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Resourse/client/img/demo/sekiro-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Resourse/client/img/demo/sekiro-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Resourse/client/img/demo/sekiro-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->