@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";

    ViewBag.URL = Url.Action("Index", "Home");
    ViewBag.Description = "Blog mọi thứ, viết cho mọi người";
    ViewBag.Image = "https://raw.githubusercontent.com/Mrk4tsu/Mrk4tsu/main/assets/preview.jpg";
}

@section Nav {
    @{
        ViewBag.IsHome = true;
        ViewBag.IsBlog = false;
    }
}

<div>
    <div class="page-head-main">
        <h1 class="title">Blog mọi thứ, viết cho mọi người</h1>
        <img width="1408" height="276" src="/Resourse/client/img/demo/main_illustration.svg" alt="">
    </div>
</div>

<section class="container position-relative">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-12">
            @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
            {
                <div class="input-group mb-3 my-2">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control text-light input-search p-4"
                           placeholder="Nhập để tìm kiếm...">
                    <div class="input-group-append">
                        <button class="btn bg-gradient-success" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
<!-- Banner Begin -->
<div class="banner mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="hero__categories rounded-e-20">
                    <div class="hero__categories__all bg-gradient-success rounded-e-20">
                        <i class="fa fa-bars"></i>
                        <span>Nội dung</span>
                    </div>
                    <ul>
                        <li><a href="#">Tin tức trò chơi</a></li>
                        <li><a href="#">Đánh giá trò chơi</a></li>
                        <li><a href="#">Tin tức công nghệ</a></li>
                        <li><a href="#">Chia sẻ công nghệ</a></li>
                        <li><a href="#">Công nghệ thông tin</a></li>
                        <li><a href="#">Chia sẻ lập trình</a></li>
                        <li><a href="#">Chia sẻ lập trình</a></li>
                        <li><a href="#">Chia sẻ lập trình</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner rounded-e-20">
                        <div class="carousel-item active" style="background-image: url(../../Resourse/client/img/demo/sktmd.png);">
                            <div class="carousel-caption">
                                <a href="#!">
                                    <h3 class="primary-btn bg-gradient-success rounded-e-10">
                                        Đọc
                                        ngay
                                    </h3>
                                </a>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url(../../Resourse/client/img/demo/sakamoto-days.png);">
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url(../../Resourse/client/img/demo/sds.jpg);">
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Danh sách Categories -->
<section class="categories pt-5">
    <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center my-1">
            <div class="h5 text-light font-weight-bold">
                <i class="fa fa-comment bg-gradient-violet p-2 rounded-circle"></i> Bình luận
            </div>

        </div>
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item__body shadow-light">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-1.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-2.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-3.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-4.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item__body">
                        <div class="categories__item" style="background-image: url('../../Resourse/client/img/categories/cat-5.jpg')">
                            <h5><a href="#">Shounen</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kết thúc Categories -->
@{ Html.RenderAction("ContentNew", "Home"); }
@{ Html.RenderAction("TopContent", "Home"); }