
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section Navbar {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsContent = false;
        ViewBag.IsUser = false;
        ViewBag.IsCategory = false;
    }
}


<div class="alert alert-danger">
    Bạn không có quyền truy cập vào nội dung này. Quay lại <a href="/trang-chu-quan-tri-vien"> Trang chủ </a>
</div>

