.bg-gradient-success {
    background-image: linear-gradient(to bottom, #a6ff79 2%, #3FBC62 99%) !important;
}

.bg-gradient-primary {
    background-image: linear-gradient(to bottom, #82bbff 2%, #007aff 99%) !important;
}

.bg-gradient-warning {
    background-image: linear-gradient(to bottom, #fffa79 2%, #e79e00 99%) !important;
}

.bg-gradient-danger {
    background-image: linear-gradient(to bottom, #ff7a7a 2%, #ff0000 99%) !important;
}

.bg-gradient-secondary {
    background-image: linear-gradient(to bottom, #b7b7b7 2%, #7b7b7b 99%) !important;
}

.bg-gradient-violet {
    background-image: linear-gradient(to bottom, #b700ff 2%, #7b00ff 99%) !important;
}
.bg-gray {
    background: #273D52 !important;
}
